*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
}
a{
    color: #ffffff;
}

.container{
    background-color: #ffffff;
    min-height: calc(100vh - 20px);
    max-width: 1100px;
    margin:0 auto;
}

/* Codido del menu sencillo */

 .sencillo ul{
    background-color: #034AA6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


@media screen and (min-width: 768px){
.sencillo ul{
    flex-direction: row;
}
}


 li{
    padding: 20px;
    list-style: none;
}
 li:hover{
  background-color: #1a2770;
}

li a{
    text-decoration: none;
}

/* Menu con iconos */
.menu-iconos ul{
    display: flex;
    background-color: #034AA6;
    flex-direction: column;
}
.menu-iconos .texto span{
    font-size: .8rem;
    /* Todos los span utilizan inline block 
    y nosotros lo cambiasmos a block
     */
    display: block;
    margin-top: .5rem;
}
@media screen and (min-width:480px){
    .menu-iconos ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .menu-iconos ul li{
        flex: 0 1 50%;
    }
}

@media screen and (min-width:768px){
    .menu-iconos ul li{
       flex: 1;
    }
}

.menu-iconos ul li a{
    display: flex;
    justify-content: flex-start;
}

.menu-iconos .icon{
    flex: 0 1 2rem;
}

/* Codigo del menu desplegable */
.menu-desplegable ul{
    background-color: #034AA6;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width:768px){
    .menu-desplegable ul{
        flex-direction: row;
    }
}

.menu-desplegable ul li{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px){
  .menu-desplegable ul li{
      position: relative;
      display: flex;
      flex: 1 1 100%;
  }
  .menu-desplegable ul li ul{
    display: none;
    position: absolute;
    /* Esto va garantizar que se ponga debajo */
    top: 100%;
    left: 0;
    background-color: #df7a06;
    margin: 0px;
    padding: 0px;
  }
  .menu-desplegable ul li:hover ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
 
}


